@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'xxx';
  src: url('/src/fonts/xxx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sss';
  src: url('/src/fonts/2.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
